@using System.Security.Claims
@using DetergentsApp.Resources
<!DOCTYPE html>
<html>
<head>
    @RenderSection("Kendo", false)
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Salling Group Detergents</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.common.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.uniform.min.css" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
    <script src="https://kendo.cdn.telerik.com/2020.3.915/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.915/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.915/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.915/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

</head>
<body>
<div class="jumbotron">
    <h1>Forbruger- og sikkerhedsdatablade</h1>
    <p class="lead">På denne side findes sikkerhedsdatablade og forbrugerdatablade på Salling Groups produkter.</p>
</div>


<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container col-lg-12">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a>
                <img src="~/Pictures/SallingGroup.png" alt="SG" class="navbar-brand"/>
            </a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                @if ( Session["LoginCredentials"] == null && (!User.Identity.IsAuthenticated))
                {
                    <li>@Html.ActionLink(Global.Public, "Public", "Public")</li>
                    <li>@Html.ActionLink(Global.Admin_Login, "SignIn", "Home") </li>
                    <li>@Html.ActionLink(Global.Vendor_Login, "vendorLogin", "vendorLogin")</li> 
                }
                @if (Session["LoginCredentials"] != null)
                {
                    <li>@Html.ActionLink(Global.Vendor, "Index", "Vendor")</li>
                    <li>@Html.ActionLink(Global.Log_Out, "Logout", "vendorLogin")</li>
                }
                

                @*   @if (!User.Identity.IsAuthenticated) *@
                @*   @if (!User.Identity.IsAuthenticated || Session["LoginCredentials"] == null) *@
                @if (Request.IsAuthenticated)
                {
                    
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink(Global.Admin_View, "Index", "Home")</li>
                    <li>@Html.ActionLink(Global.Public, "Public", "Public")</li>
                    <li>@Html.ActionLink(Global.Category, "Index", "Categories")</li>
                    <li>@Html.ActionLink(Global.All_Article_Files, "AllFiles", "AllFiles")</li>
                    <li>@Html.ActionLink(Global.Approvals, "Admin2", "Admin2")</li>
                    <li class="dropdown">
                        <a aria-expanded="true" data-toggle="dropdown" class="dropdown-toggle" href="#">Vendor<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Global.Vendor, "Index", "Vendor") </li>
                            <li>@Html.ActionLink(Global.Add_New_Vendor, "AddVendor", "AddVendor")</li>
                            <li>@Html.ActionLink("Vendor Register", "Register", "vendorLogin")</li>
                        </ul>
                    </li>
                    <li> @Html.ActionLink(Global.Log_Out, "SignOut", "Home")</li>
                
                                                                            
                    
                }
                

                @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
                {
                    <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
                }

            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Detergents</p>
    </footer>
</div>

</body>
</html>


<style>

   .navbar-inverse{
   background: none;
   border: none;  
   padding-left: 35px;
   padding-right: 35px;
   text-align: center;
   }   
   
   .navbar-inverse .navbar-nav > li > a:hover,  
   .navbar-inverse .navbar-nav > li > a:focus{  
     font-size: large;
       color: #0f0f0f;
       }
    
   .body-content{
    width: 100%;
    
    }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
      color: #000000;
      background-color: white;
    }
.dropdown-menu > li > a
    {
    color: #9d9d9d;
    }
    

    
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #0f0f0f;
      text-decoration: none;
      background-color: white;
      font-size: large;
    }
    

    
    
    .k-readonly {
            color: gray;
        }
        .jumbotron
        {
            background-image: url("../../Pictures/sallingPicture.jpg");
            padding: 50px;
    
        }
        #grid .k-grid-toolbar
            {
                padding: .6em 1.3em .6em .4em;
            }
            .category-label
            {
                vertical-align: middle;
                padding-right: .5em;
            }
            #category
            {
                vertical-align: middle;
            }
            .refreshBtnContainer {
                display: inline-block;
            }
            .toolbar {
                float: right;
            }
    
    
</style>