@model IEnumerable<DetergentsApp.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-12">
        @(Html.Kendo().Grid(Model)
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.productName);
                columns.Bound(c => c.productDescription);
                columns.Bound(c => c.EAN);
                columns.Bound(c => c.Category).Width(150);
                columns.Command(command => { command.Edit(); }).Width(180);
            })
            .HtmlAttributes(new {style = "width : 900px"})
            .ToolBar(toolbar => { toolbar.Search(); })
            .Sortable()
            .DataSource(d => d
                .Server()
                .Model(m => { m.Id("ProductID"); })
                .Read(read => read.Action("Grid", "Grid"))
                .Update("Edit", "Products")
            ))
    </div>
</div>


<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.validFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ProductID}) |
                @Html.ActionLink("Details", "Details", new {id = item.ProductID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ProductID})
            </td>
        </tr>
    }

</table>