@using DetergentsApp.Models
@{
    TempData["productID"] = ViewBag.ProductID;
}
@{
    TempData["sheetTypeID"] = ViewBag.SheetTypeID;
}

<section class="well">
    <h2 class="ra-well-title">Admin Upload</h2>

    <form method="post" action='@Url.Action("Save")'>
        <div class="demo-section k-content">

            <div class="form-horizontal form-widgets col-sm-6">
                

                <div class="form-group">
                    <label class="control-label col-sm-4" for="language">Language of the file</label>
                    <div class="col-sm-8 col-md-6">
                        @(Html.Kendo().DropDownList()
                            .Name("language")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Value("English")
                            .BindTo(new List<SelectListItem>
                            {
                                new SelectListItem
                                {
                                    Text = "Danish",
                                    Value = "Danish"
                                },
                                new SelectListItem
                                {
                                    Text = "German",
                                    Value = "German"
                                },
                                new SelectListItem
                                {
                                    Text = "English",
                                    Value = "English"
                                },
                                new SelectListItem
                                {
                                    Text = "Polish",
                                    Value = "Polish"
                                }
                            })
                            )
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="form-horizontal form-widgets col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="fileUpload">File Upload</label>
                        <div class="col-sm-10">
                            @(Html.Kendo().Upload()
                                .Name("files")
                                )

                        </div>
                    </div>
                </div>

                <div class="buttons-wrap">
                    <button class="k-button k-state-default">Cancel</button>
                    <button type="submit" id="uploadButton" class="k-button k-state-default">Upload</button>
                </div>
                
                <div>
                    @(Html.Kendo().Grid<UserFileViewModel>()
                        .Name("filesGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(f => f.Name).ClientTemplate("<a href='files/?id=#= Id #'>#= Name #</a>").Title("File name");
                    
                            // Calculate the file size in KB, round it up and display it in a client template
                            columns.Bound(f => f.DataLength).ClientTemplate("#= Math.ceil(DataLength / 1024) #").Title("File size in KB").Width(150);
                    
                            columns.Command(command => command.Destroy()).Width(100);
                        })
                        .Sortable()
                        .Pageable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Model(m => m.Id(f => f.Id))
                            .Read(read => read.Action("FilesRead", "FileUpload").Data("additionalInfo"))
                            .Destroy(update => update.Action("FilesDestroy", "FileUpload"))
                        ))

                </div>
                @Html.ActionLink(
                                linkText: "Back",
                                actionName: "Index",
                                controllerName: "Home"
                                )
            </div>
            
        </div>
        
    </form>
    
</section>



<script type="text/javascript">
    function onUploadSuccess() {
        // Force the rebinding of the Grid on successful upload
        $("#filesGrid").data("kendoGrid").dataSource.read();
    }
    
    function additionalInfo() {
        
    return{
        
    productID: getUrlVars()["productID"],
     
    sheetTypeID: getUrlVars()["sheetTypeID"]
    }
    }
    
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>